.carousel-caption {
    right: 35% !important;
    bottom: 50px !important;
    left: 35% !important;
    color: #fff;
    text-align: center;
    background: #45525c !important;
    border-radius: 8px !important;
}

.carousel-caption h3 a:link, .carousel-caption h3 a:visited, .carousel-caption h3 a:active {
	color: #fff !important
}

.carousel-caption h3 a:hover {
	cursor: pointer;
	color: #fafafa;
}

.btn-info {
    background-color: $button-avo;
    border-color: $button-avo;
    font-weight: 200;
    padding: .475rem 1.2rem;
    &:hover {
    background-color: $button-avo;
    border-color: $button-avo;
    }
}
a.btn-primary {
    color: #fff !important;
}
.btn-primary {
    background-color: $button-avo;
    border-color: $button-avo;
    font-weight: 200;
    padding: .475rem 1.2rem;
    &:hover {
    background-color: $button-avo;
    border-color: $button-avo;
    }
}
