.as-checkout-left {

label {
	display: block;
	width: 100%
}

span.woocommerce-input-wrapper {
	width: 100%
}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], textarea {
	width: 100%;
	height: 40px;
	background-color: #f7f8fa;
}



.select2-container--default .select2-selection--single {
    background-color: #f7f8fa !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 42px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 8px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}

.woocommerce-billing-fields,
.woocommerce-shipping-fields,
.woocommerce-additional-fields {
	background: #fff;
    padding: 40px;
    margin-bottom: 30px;
    border-radius: 8px;
}

ul.wc_payment_methods.payment_methods.methods {
	list-style: none;
    padding: 0;
    margin: 0;
}

button#place_order {
	background: $button-avo;
	color: #fff;
	display: inline-block;
    font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}


}
.as-checkout-page {
td.product-name {
	width: 60%;
}	
td.product-total {
	text-align: right;
}

h2#order_review_heading {
	margin-bottom: 30px;
}

}

.checkout_stikey_sidebar.as-checkout-page {
    border-radius: 10px;
    margin-top: -101px;
    padding: 40px 15px;
    .as-your-order {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 40px;
    .woocommerce-shipping-totals {
    margin-top: 15px;
    }
    }
}

.checkout_stikey_sidebar.fixed_note {
    position: fixed !important;
    right: 18% !important;
    top: 0px !important;
    max-width: 406px;
    margin-top: 0px; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
    z-index: 100;
} 

.checkout_stikey_sidebar.as-single-sidebar {
    padding-top: 0px !important;
    h2 {
    font-size: 26px;
    }
}

.as-your-coupon {
    background-color: #f7f8fa;
    border-radius: 8px;
    padding-bottom: 30px;
    .woocommerce-info {
        width: 100%;
        text-align: center;
        background: transparent;
        padding: 20px 0px;
        border: 1px dashed $button-avo;
    }
    button.button {
    background: $button-avo;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    }
    .form-row-first {
      margin-top: 20px;
    }
    .woocommerce-form.woocommerce-form-login.login {
        label {
        width: 100%;
        }
        input[type="text"],
        input[type="password"] {
        width: 100%;
        height: 40px;
        background-color: #f7f8fa;
        }
    }
}

.woocommerce-form-login-toggle {
        margin-top: 30px;
       }

.as-checkout-page span.woocommerce-Price-amount.amount {
    float: right;
}

.as-checkout-page #coupon_code {
    margin-right: 10px;
}

.as-checkout-toggles {
    padding: 0;
}

// Thank you page

.as-reciept-confirm {
    margin-top: 60px;
    background: #fff;
    padding: 40px;
    border-radius: 8px;

    ul {
    list-style: none;
    padding: 0px;
    margin-left: 0px;
    }
}

// Payment Methonds



