.col-md-4.stikey_sidebar.as-contact-page {
    padding: 40px 35px;

    .wpcf7 {
	margin-top: 30px;
	p {
	margin-bottom: 0 !important
	}
	input, textarea {
	background-color: #f7f8fa;
	border-color: #f7f8fa;
	margin: 0px;
	}
	input.wpcf7-form-control.wpcf7-submit {
	width: 100%;
    padding: 20px 0px;
    border-radius: 4px;
    background-color: #66883f;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;

	}
    }
}

.as-content-area.as-contact-content {
	margin-top: 100px !important;
}

.as-contact-row {
	margin-bottom: 10px;
}

.as-contact-address {
	.col-md-2,
	.col-md-8 {
	padding: 0px;
	}
	.as-contact-labels {
		font-weight: bold;
	}
}
