//Content Page

.as-content-area,
.as-forum-content {
	padding-right: 45px;
}

.stikey_sidebar {
	background: #fff;
	border-radius: 10px;
	margin-top: -101px;
    padding: 40px 15px;
    max-height: min-content;
    min-height: 300px;
}

.stikey_sidebar.fixed_note {
	position: fixed !important;
    right: 18% !important;
    top: 56px !important;
    max-width: 406px;
    margin-top: 0px; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
    z-index: 100;
} 

.stikey_sidebar.as-single-sidebar {
	padding-top: 0px !important;
	h2 {
	font-size: 26px;
	}
}

.as-thumbnail {
	padding: 0px;
	margin-bottom: 30px;
	img{
	width: 100%;
	border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
	}

@keyframes fixed_note { 
    0% { 
        transform: translate3d(0, -100%, 0); 
        visibility: visible; 
    } 
    100% { 
        transform: translate3d(0, 0, 0); 
    } 
} 
.fixed_note { 
    animation-name: fixed_note; 
}	

.single_quote {
	border-left: 4px solid #50004F;
    padding-left: 30px;
    padding-right: 10px;
    margin-left: 16px;
    font-style: italic; 
}

.as-single_testimonial_image {
	.quote_marks {
		position: absolute;
        bottom: -17px;
		left: 20px;
		img.svg_right {
			margin-top: 25px;
		}
	}
}

.as-content-title {
	padding: 0px;

	h2 {
	font-weight: 400;
	margin-top: 40px;
	}
	p.small{
	font-size: 22px;
	}
}

.as-content-section {
	padding: 0px;
	ol {
	padding-left: 18px;
	margin: 0px;
	}
}

.as-two-image-container {
	margin-top: 60px !important;
	margin-bottom: 30px !important;
}

.as-single-image-section {

	padding: 0px;
	margin-bottom: 20px;

	.fig img {
		border-top-left-radius: 8px;
	    border-top-right-radius: 8px;
	}

	.figure-caption {
		background: #fff;
	    margin-top: -6px;
	    padding: 22px 5px;
	    border-bottom-left-radius: 8px;
	    border-bottom-right-radius: 8px;
	}

}

.as-twocol-image-section-left{

	.fig img {
		border-top-left-radius: 8px;
	    border-top-right-radius: 8px;
	    }
		

	.figure-caption {
		background: #fff;
	    margin-top: -6px;
	    padding: 22px 5px;
	    border-bottom-left-radius: 8px;
	    border-bottom-right-radius: 8px;
	   }
}

.as-twocol-image-section-right{

	.fig img {
		border-top-left-radius: 8px;
	    border-top-right-radius: 8px;
	    }
		

	.figure-caption {
		background: #fff;
	    margin-top: -6px;
	    padding: 22px 5px;
	    border-bottom-left-radius: 8px;
	    border-bottom-right-radius: 8px;
	   }
}

.summary {

	.summary-icon {

		padding-left: 0px;

		i.fal.fa-leaf {
			color: #66883f;
		}
		
}

.summary-text {

	padding-left: 0px;	

}

}

.as-single_testimonial {
	background-color: #e8e9ed;
    padding: 30px 70px;
    border-radius: 8px;

    .as-single_testimonial_image {
    	max-width: 110px;
        max-height: 110px;
        border-radius: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    	img{
    	border-radius: 100%;
    	max-width: 110px;
        max-height: 110px;
		}
		
		.quote_marks_empty {
			background: #fff;
			padding-top: 42px;
			width: 126px;
			height: 126px;
			border-radius: 100%;
			margin-bottom: 35px;
		}

    }

   .as-single_testimonial_role {
    color: #222222;
    opacity: 0.6;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	margin-top: 2px;
   }
}
.as-content-sidebar {
	padding-left: 40px;
	padding-right: 40px;
	h2 {
	font-size: 26px;
	margin-bottom: 20px;
	}

	a.as-inpage-link {
	color: #45525c;
	&:link {
    color: #45525c;
	}
	&:active {
	color: #45525c;
	}
	&:hove {
	color: #45525c;
	}
	&:visited {
	color: #45525c;
	}
}

.in-page-icon  i.fal.fa-leaf{
	color: #66883f;
}

}

.cta {
	a {
		color: #fff;
		&:link {
			color: #fff;
		}
		&:hover {
			color: #fff;
		}
		&:visited {
			color: #fff;
			
		}
	}
}


