.as-events-area {
	margin-top: 80px;
	background-color: #ffffff;
	border-radius: 8px;
	padding-bottom: 30px;

	.as-event-image {
	padding-left: 0px;
	}

	.btn.btn-link {
	font-family: 'Lato', sans-serif;
	color: #222222;
	font-size: 32px;
	font-weight: 300;
	line-height: 29px;
	width: 100%;
	text-align: left;
		&:link {
		text-decoration: none !important;
		}
		&:hover {
		text-decoration: none !important;
		}
		&:visited {
		text-decoration: none !important;
		}
	}

	i.fas.fa-angle-down {
	float: right;
    padding-top: 10px;
	}

	.card-header {
	    background-color: rgba(225,225,225,0);
	    padding-right: 0px;
	    padding-left: 0px;
	}

	p.small {
	font-size: 100%;
	color: $button-avo;
	}

	p {
	margin-bottom: 1rem !important;
	}


}

.as-events-archive-date {
	padding: 0px;
	border-bottom: 1px solid rgba(0,0,0,0.125);
	padding-bottom: 40px;
	margin-bottom: 40px;
	.as-event-image {
		border-radius: 8px;
	}
	.as-archive-event-details {
	padding-right: 0px;
	}
}
