@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url("https://use.typekit.net/xyj3xpz.css");
body {
    font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 400;
}

p, ul, ol {
	font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
}
.main-navigation ul {
    font-family: brandon-grotesque, sans-serif;
    li {
    	font-family: brandon-grotesque, sans-serif;
    	font-size: 20px!important;
    	font-weight: 400!important
    }
}
figcaption {
	font-family: brandon-grotesque, sans-serif;
}
