.site-footer {
    background-color: rgba(69,82,92,0.1);
}
.as-site-info {

	.as-widget-areas {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	h2.rounded {
		color: #1f1f1f;
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 400 !important;
	}

	ul {
		list-style: none;
		padding: 0px;
		margin: 0px;

		li a {
			font-weight: 300;
			color: #1f1f1f;
			&:link {
				color: #1f1f1f;
			}
			&:hover {
				color: #1f1f1f;
			}
			&:visited {
				color: #1f1f1f;
			}
		}
	}

  .wc-shortcodes-social-icons-wrapper{
		margin-top: 20px !important;
	}

}

.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left li {
	padding-right: 25px;
	&:last-of-type {
		padding-right: 0;
	}
}


// Mobile Footer

.as-footer-mobile {
	.accordion {
	width: 100%;
	}
	.card {
	width: 100% !important;
	background-color: transparent !important;
	}
	button.btn.btn-link {
	color: #222222;
	}
	h2.rounded {
	display: none;
	}

	.card-header {
	background-color: transparent !important;
	border: none !important
    }

    .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left {
    text-align: center !important;
}

} 
