.bbp-header {
	padding: 20px 26px !important;
    border-radius: 8px !important;
    background-color: #45525c !important;
    color: #fff !important;
}

.as-forum-content {
	margin-top: 60px;
}

#bbpress-forums {
background: transparent;
clear: both;
margin-bottom: 20px;
overflow: hidden;
font-size: 13px;

.bbp-breadcrumb {
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	a.bbp-breadcrumb-home,
	a.bbp-breadcrumb-root,
	span.bbp-breadcrumb-current {
	color: #222222;
	font-weight: 300;
	&:link {
	color: #222222;
	}
	&:visited{
	color: #222222;
	}
	}
}

}

#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
 background: transparent;
}

#bbpress-forums li.bbp-body ul.forum, 
#bbpress-forums li.bbp-body ul.topic {
 background: transparent;
 border-top: none;	
}

#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-topics {
	border-left: none;
	border-right: none;
}

li.bbp-forum-info,
li.bbp-topic-title  {
	width: 50%;
}
li.bbp-topic-freshness {
	width: 29%;
}

a.bbp-topic-permalink,
a.bbp-forum-title {
color: #45525c;
font-family: Lato;
font-size: 16px;
font-weight: 400;
line-height: 30px;
	&:link {
		color: #45525c;
	}
	&:visited {
		color: #45525c;
	}
}

#bbpress-forums li {
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
		a{
			color: #45525c;
			&:link {
				color: #45525c;
			}
			&:visited {
				color: #45525c;
			}
		}

}

a.bbp-author-name {
	font-size: 16px !important;
		}
a.bbp-author-avatar {
	display: none;
}
#bbpress-forums li.bbp-body ul.topic {
border-bottom: 1px solid #dedede;	
}

#bbpress-forums li.bbp-body ul.forum {
	border-bottom: 1px solid #ccc;
	padding-top: 20px;
	padding-bottom: 20px;
}

// SUbscription Toggle
.as-forum-content {
a.btn.btn-primary.as-new-topic {
	position: absolute;
    right: 42px;
    top: 14px;
}	
}
span#subscription-toggle span{
	float: right;
	color: #66883f;;
}

a.subscription-toggle {
color: #66883f;
font-family: Lato;
font-size: 16px;
font-weight: 400;
text-decoration: none;
&:visted {
color: #66883f;	
}
&:link {
color: #66883f;		
}
&:hover {
color: #66883f;		
}
}

.as-statistic {
	padding: 30px;
	background: #fff;
	border-radius: 8px;
}

// Forms

.bbp-topic-form, .bbp-reply-form, .bbp-topic-tag-form {
	background: #fff;
	padding-top: 35px;
	padding-bottom: 35px;
	border-radius: 8px;
}

div.bbp-template-notice {
	display: none;
}

#bbpress-forums fieldset.bbp-form label {
	color: #222222;
	font-family: Lato;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

#bbpress-forums fieldset.bbp-form {
	border: none;
}

input#bbp_topic_title,
input#bbp_topic_tags,
select#bbp_stick_topic_select,
select#bbp_topic_status_select {
	width: 100%;
	height: 48px;
	background-color: #f7f8fa;
}

input#bbp_anonymous_author,
input#bbp_anonymous_email,
input#bbp_anonymous_website {
	width: 100%;
	height: 48px;
	background-color: #f7f8fa;	
}

textarea#bbp_topic_content,
textarea#bbp_reply_content {
	background-color: #f7f8fa;
}

div.bbp-submit-wrapper {
	float: none;
}

button#bbp_topic_submit,
button#bbp_reply_submit,
input#bbp_search_submit {
	color: #fff;
	background-color: #66883f;
    border-color: #66883f;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}

// Sidebar

input#bbp_search {
	width: 219px !important;
    height: 36px;
    background-color: #f7f8fa;
    margin-bottom: 20px;
}

.stikey_sidebar .bbp-breadcrumb {
	display: none !important;
}

.stikey_sidebar dd {
	border-bottom: 1px solid #e9e9e9;
}

.stikey_sidebar dd:before {
	font-family: FontAwesome;
    content: '\f06c';
    color: #66883f;
    margin-right: 5px;
}	

.stikey_sidebar dl {
	padding: 0 25px;
}

fieldset.bbp-form {
	padding: 0px !important;
}

form#new-post {
	padding: 40px;
}

.forum-archive.bbpress.archive .stikey_sidebar {
	margin-top: 10px;
}

// General Border

#bbpress-forums ul.bbp-lead-topic, 
#bbpress-forums ul.bbp-topics, 
#bbpress-forums ul.bbp-forums, 
#bbpress-forums ul.bbp-replies, 
#bbpress-forums ul.bbp-search-results {
	border: none;
}

.stikey_sidebar {
	dt { 
	float: right;
    width: 70%;
    margin-left: 10px;
    font-weight: 300;
    line-height: 30px;
}

dd {
	line-height: 30px;
}
.as-forum-info {
	padding-left: 38px;
	margin-bottom: 20px;
}

.as-forum-search {
	padding-left: 20px;
	margin-top: 20px;
}

} 



.stikey_sidebar dl dd:nth-child(12), .stikey_sidebar dl dd:nth-child(14) {
	display: none;
}

.stikey_sidebar dl dt:nth-child(13), .stikey_sidebar dl dt:nth-child(11) {
	display: none !important;
}

.bbp-topic-freshness-author img {
	display: none;
}







