.carousel-caption {

	padding-left: 30px;
	padding-right: 30px;
	
	h3 a {
	font-weight: 300;
	line-height: 36px;
}

}
.charles_stor a {
	text-decoration: underline !important;
}
.chalers_intro {
	margin-top: 40px;
}

.intro_copy .col-md-12 {
    background: #fff;
    padding: 51px 36px;
    margin-top: 62px;
    border-radius: 8px;
}

.benefits_title {
	width: 183px;
	height: 26px;
	color: #ffffff;
	//font-family: "Brandon Grotesque Regular";
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
}
.benefit_block {
	padding-top: 30px;
	padding-bottom: 30px;
	border-radius: 8px;
	background-color: #45525c;
}

span.benefits_title {
	font-weight: 300 !important;
	font-family: 'Lato', sans-serif;	
}

.as_reasons {
	font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
}

.as_reasons i.fas.fa-check-circle {
    color: #66893c !important;
} 

.as-brown-bg {
margin-top: 60px;
background-color: rgba(69, 82, 92, 0.2);;
}

.as-features {
	margin-top: 60px;
	padding-bottom: 60px;
}

.col-md-6.as-course-product {
padding-left: 0px;
}

.col-md-6.as-front-testimonial {
padding-right: 0px;	
}

.testimonial_image {
	
img.testimonial-image {
	border-radius: 100%;
}


.quote_marks {
	position: absolute;
    left: 43%;
    top: 86px;

	img.svg_left {
	float:left;
	margin-right: 10px;
	}
	img.svg_right {
	float:right;
	margin-top: 9px;
	}
}
}

.testimonial_image .quote_marks_empty img {
	float: left;
	&.svg_left {
	margin-left: 20px;
	margin-right: 5px;
	}
	&.svg_right {	
	margin-left: 0;
	margin-right: 10px;
	}

}

.circle_testimonial_placeholder {
	width: 108px;
	height: 108px;
	display: block;
	border-radius:50%;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
    font-size: 3em;
    padding-left: 33px;
    padding-top: 15px;
    color: #769654;
}
.archive #testimonialFrontPage {
    height: 312px;
    .quote_marks_empty {
	    background: #fff;
	    padding-top: 42px;
	    width: 126px;
	    height: 126px;
	    border-radius: 100%;
	    margin-bottom: 35px;
	    margin-left: auto;
	    margin-right: auto;
    }
}


.carousel-indicators .active {
	background-color: #500049 !important;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}



.col-md-12.as-four-product {
    padding: 0px;
}

.cta h4 {
	margin-bottom: 30px;
    font-weight: 300;
    font-size: 1.4rem;
    padding-top: 10px;
}

.as-community-link,
.as-season-link {
	a {
	color: #fff;
	&:hover {
     color: #fff;
	}
	&:link {
	color: #fff;
	}
	&:visited {
	color: #fff;
	}
	}
}

.as-product-image {
	padding-left: 0px !important;
	padding-right: 0px !important;
	img {
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	}
}

.col-md-6.as-product-description {
	text-align: center;
	padding: 0px;

	h2.woocommerce-loop-product__title {
		margin-bottom: 22px;
	}
	.as-find-button {
	margin-top: 22px;
	}
}

.as-product-bg {
	background: #fff;
	border-radius: 8px;
}

.home_products:nth-child(1) {
	margin-bottom: 20px !important;
}

.as-find-button .button.product_type_variable.add_to_cart_button, .as-find-button a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
	background: $button-avo;
	color: #fff;
	display: inline-block;
    font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

.product-box {
    padding-left: 0px;
    padding-right: 0px;
    background: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
}

.products-single {
	margin-bottom: 30px;
}

img.attachment-woocommerce_thumbnail.size-woocommerce_thumbnail {
	width: 100%;
}


h2.woocommerce-loop-product__title {
	padding: 0px 20px;
	font-size: 22px;
	text-align: center;
	margin-top: 30px;
}

.front_page_product_price {
	text-align: center;
}

// Fetaures Testimonials

.as-front-testimonial {
    border-radius: 8px;
	background-color: #e8e9ed;
}

.carousel-item.carousel_user_image.mx-auto {
	padding: 0px 20px;
}

.as-slider-item {
	margin-top: 5px;
	padding: 30px 15px;
}

.as-slider-item.front_page_testimonial {
	margin-top: 30px;
}

.as-slider-item .carousel-indicators {
	bottom: -20px !important;
}

.as-slider-item .carousel-indicators.as-single-event {
	bottom: -20px !important;
}

// Blog Section
.blog-bg .container {
	padding: 0px;
}

.blog-bg {
	margin: 60px 0px;
}

.as-season-left img {
	width: 100%;
}

.blog-sing-row {
	background: #ffffff;
	border-radius: 8px;
	padding-left: 0px;
	margin-bottom: 30px;
}

.post-list-image img {
	border-top-left-radius: 8px !important;
	border-bottom-left-radius: 8px !important;
}

.post-list-image {
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;
	background-size: cover;
	background-position: center center;
}

// Instagram Icon

.wdi_photo_wrap i.fab.fa-instagram {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: #fff;
	font-size: 25px;
}

