.as-gallery-section {

img {
width: 100%;
border-radius: 8px;
}

.card {
background: transparent;
}

}

.as-gallery-content {
margin: 40px 0;
}

.alm-gallery-img a .hover i.fas.fa-search {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #fff;
font-size: 30px;
}
.hover {
  display: none;
}
a:hover .hover {
position: absolute;
top: 0%;
height: 100%;
width: 100%;
border-radius: 8px;
background-color: rgba(69, 82, 92, 0.85);
display: block;
transition: opacity .55s ease-in-out;
-moz-transition: opacity .55s ease-in-out;
-webkit-transition: opacity .55s ease-in-out;
}

/* POSTS GALLERY STYLES */
.wc-shortcodes-row {
	display: flex;
    flex-wrap: wrap;
}
.gallery-item, .wc-shortcodes-content {
	padding-right: 20px;
	margin-left: 0!important;
	&.wc-shortcodes-one-fourth {
		width: 50%;
	}
	&:last-of-type {
		padding-right: 0;
	}
	img {
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	figcaption {
		margin-top: 0!important;
		padding: 10px;
		background-color: white;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}