.as-instgram-feed {
	padding: 0px !important;
}
.wdi_feed_wrapper {
	background-color: transparent !important;
}

.wdi_feed_container {
	background-color: transparent !important;
	border-bottom: none !important;
}

.wdi_photo_wrap {
    padding: 0px !important;
    border-radius: 8px !important;
}

.wdi_feed_thumbnail_1 .wdi_photo_wrap_inner {
     border: none !important; 
     background-color: transparent !important;
}