.as-leader-header {
	background-color: #45525c;
	margin-bottom: 60px;
}
.as-post-featured {
    background: #fff;
	margin-bottom: 20px;
	border-radius: 8px;
	.featured-thumb {
	padding-left: 0px;
	padding-right: 7px;
	img {
	width: 100%;
	}
	}
}
.card {
	width: 24rem;
	border-radius: 8px;
	border: none;
}

.as-card img{
	width: 100%;
}

.as-featured-text {
	padding-top: 30px;
}

h2.page-title {
    text-align: center;
    margin-bottom: 30px;
}

nav.navigation.posts-navigation {
	width: 100% !important;
}

.posts-navigation .nav-previous,
.posts-navigation .nav-next {
    width: auto !important;
}

.nav-previous,
.nav-next {
a{
color: #fff !important;	
}
    
    background-color: #66883f;
    border-color: #66883f;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}