  $mobile-header-image: 200px;
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .row.outside {
  margin-left: 0 !important;
  margin-right: 0 !important;
  }

  .stikey_sidebar {
    margin-top: 0px
  }

  .card {
  width: 100% !important;
  }

  span.page-numbers.dots, a.page-numbers, 
  .page-numbers.current {
  display: none;
  }

  .as-content-area, .as-forum-content {
    padding-right: 15px;
}

// Custom Log
header {

  a {
  width: 100%;
  }

  .custom-logo-link img {
  max-width: $mobile-header-image;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

}  

.as-single-product-left {
    padding-right: 0px;
    padding-left: 0px;
    }

.as-product-bg {
  margin-bottom: 30px;
}
.col-md-6.as-course-product,
.col-md-6.intro_copy,
.col-md-6.as-charles {
    padding: 0px !important;
}

.as-product-image img {
  width: 100%;
  height: initial;
} 

.col-md-6.as-product-description {
    text-align: center;
    padding-bottom: 30px;
}

.as-season-left img {
  width: 100%;
  height: 100%;
} 

.col-md-4.post-list-image  {
  min-height: 350px;
}

.row.as-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.stikey_sidebar.fixed_note,
.checkout_stikey_sidebar.fixed_note {
    position: initial !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 100%;
    margin-top: 0px;
    animation-duration: unset;
    animation-fill-mode: unset;
    z-index: 100;
}

// Mobile Nav

.main-navigation ul ul.open {
  position: relative !important;
  display: none;
}
.main-navigation.toggled ul {
  width: 100%;
  background: #fff;
}
nav#site-navigation {
    width: 289px;
    position: absolute;
    top: -80px;
    background: #fff;
    left: -275px;
    min-height: 628px;
    z-index: 100;
}
nav#site-navigation.toggled {
  left: -15px;
}

// Left Tp Right

 .toggled {
  -webkit-animation-name: toggled;
  animation-name: toggled;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

a.menu-toggle.as-opened {
    margin-top: 20px;
    margin-left: 28px;
    font-size: 17px;
}

// Right to left

 .slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

.main-navigation ul {
  padding: 15px 0px;
  margin-left: 0px;
}

.main-navigation li {
  float: left !important;
  margin-left: 30px;
  width: 258px;
  ul.sub-menu {
    padding-bottom: 0;
   li {
      width: 238px;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

}
.main-navigation li {
  margin-bottom: 10px;
}

.mobile_story {
  padding-left: 28px;
  margin-top: 20px;
}

.mobile_icons {
  
  padding-left: 44px;
  a {
  display: inline !important;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  }

  }

  // Home page shop

  .as-product-image {
    img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
  }

 // Shop Archive

 .woocommerce ul.products li.product {
    background: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    width: 43%;
    float: left;
    margin: 10px;
}

ul.products li.product .button {
  font-size: 0.7rem !important;
}

// Cart
.as-content-area {
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  .cart.woocommerce-cart-form__contents {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px !important;
  .coupon {
    input.input-text {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    }
  }
  
}
.as-product-cart {
  padding-bottom: 20px;
  text-align: center;
}
}

//Checkout

.as-content-area.as-contact-content.as-checkout-left {
  margin-top: 30px !important;
  .col-md-12 {
    padding: 0px;
  }
}

.as-checkout-page {
  .as-coupon-row {
    input.input-text {
      width: 100%;
      height: 40px;
      margin-right: 0px !important;
      margin-bottom: 20px;

    }
  }
}

// My Account Page

.as-account-nav {
  padding: 0px !important;
}


 // CTA

 .cta {
   .the-icon {
    margin-bottom: 20px !important;
   }

.as-community-link {
  text-align: center;
  }
  
 }

 //CTA Season

 .cta-seasons {

  .the-season-icon {
    margin-bottom: 20px !important;
   }
  .as-season-link {
    text-align: center;
  }
 }

 // Instagram Front-page

 .wdi_photo_wrap i.fab.fa-instagram {
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}

// Forum

a.btn.btn-primary.as-new-topic {
    right: 10px;
    top: 34px;
}

// Contact Page

.as-contact-address {
  .col-md-8,
  .col-md-4,
  .col-md-2 {
    padding: 0px;
  }
}

// Post Single Page Gallery width

.gallery-columns-3 .gallery-item {
  width: 100% !important;
  max-width: 100% !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.as-pagination .pagination {
    width: 100%;
    margin: 0 auto;
}

.as-community-link {
  text-align: center;
}

.testimonial_image {
  
img.testimonial-image {
}
.quote_marks {
  position: absolute;
  left: 30%;
    top: 86px;
}
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.col-md-6.as-course-product {
  margin-bottom: 30px;
}

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

  .row.outside {
  margin-left: 0 !important;
  margin-right: 0 !important;
  } 

  .card {
  width: 100% !important;
  } 

    span.page-numbers.dots, a.page-numbers, 
  .page-numbers.current {
  display: none;
  }

  .as-content-area, .as-forum-content {
    padding-right: 15px;
}


// Custom Log
header {

  a {
  width: 100%;
  }

  .custom-logo-link img {
  max-width: $mobile-header-image;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

}

.as-single-product-left {
    padding-right: 0px;
    padding-left: 0px;
    }


.stikey_sidebar.fixed_note,
.checkout_stikey_sidebar.fixed_note {
    position: initial !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 100%;
    margin-top: 0px;
    animation-duration: unset;
    animation-fill-mode: unset;
    z-index: 100;
}



// Mobile Nav

nav#site-navigation {
    width: 289px;
    position: absolute;
    top: -80px;
    background: #fff;
    left: -417px;
    min-height: 628px;
    z-index: 100;
}
nav#site-navigation.toggled {
  left: -15px;
}
 .toggled {
  -webkit-animation-name: toggled;
  animation-name: toggled;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
.main-navigation li {
  margin-bottom: 10px;
}

a.menu-toggle.as-opened {
    margin-top: 20px;
    margin-left: 28px;
    font-size: 17px;
}

.main-navigation ul {
  padding: 15px 0px;
  margin-left: 0px;
}

.main-navigation li {
  float: left !important;
  margin-left: 30px;
  width: 258px;
  ul.sub-menu {
    padding-bottom: 0;
   li {
      width: 238px;
      &:last-of-type {
        margin-bottom: 0;
        }
    }      
  } 
}
ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

}

.mobile_story {
  padding-left: 28px;
}

.mobile_icons {
  
  padding-left: 44px;
  a {
  display: inline !important;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  }

  }


  // Home page shop

  .as-product-image {
    img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
  }

   // Shop Archive

 .woocommerce ul.products li.product {
    background: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    width: 43%;
    float: left;
    margin: 10px;
}

ul.products li.product .button {
  font-size: 0.7rem !important;
}

// Cart
.as-content-area {
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  .cart.woocommerce-cart-form__contents {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px !important;
  .coupon {
    input.input-text {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    }
  }
  
}
.as-product-cart {
  padding-bottom: 20px;
  text-align: center;
}
}

//Checkout

.as-content-area.as-contact-content.as-checkout-left {
  margin-top: 30px !important;
  .col-md-12 {
    padding: 0px;
  }
}

.as-checkout-page {
  .as-coupon-row {
    input.input-text {
      width: 100%;
      height: 40px;
      margin-right: 0px !important;
      margin-bottom: 20px;

    }
  }
}

 // CTA

 .cta {
   .the-icon {
    margin-bottom: 20px !important;
   }

.as-community-link {
  text-align: center;
  }
  
 }

  //CTA Season

 .cta-seasons {

  .the-season-icon {
    margin-bottom: 20px !important;
   }
  .as-season-link {
    text-align: center;
  }
 }

  // Instagram Front-page

 .wdi_photo_wrap i.fab.fa-instagram {
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}


// Contact Page

.as-contact-address {
  .col-md-8,
  .col-md-4,
  .col-md-2 {
    padding: 0px;
  }
}

// Post Single Page Gallery width

.gallery-columns-3 .gallery-item {
  width: 100% !important;
  max-width: 100% !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.as-pagination .pagination {
    width: 100%;
    margin: 0 auto;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.col-md-6.as-course-product {
  margin-bottom: 30px;
}

.col-md-6.as-product-description {
    padding-bottom: 30px;
}

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 


  //Menu
.main-navigation li {
  margin-bottom: 10px;
}

  ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

}

  .row.outside {
  margin-left: 0 !important;
  margin-right: 0 !important;
  } 

  .card {
  width: 100% !important;
  } 

    span.page-numbers.dots, a.page-numbers, 
  .page-numbers.current {
  display: none;
  }

  .as-content-area, .as-forum-content {
    padding-right: 15px;
}  

// Custom Log
header {

  a {
  width: 100%;
  }

  .custom-logo-link img {
  max-width: $mobile-header-image;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

} 

.as-single-product-left {
    padding-right: 0px;
    padding-left: 0px;
    }


.stikey_sidebar.fixed_note {
    position: initial !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 100%;
    margin-top: 0px;
    animation-duration: unset;
    animation-fill-mode: unset;
    z-index: 100;
}

  // Home page shop

  .as-product-image {
    img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
  }

 // Shop Archive

 .woocommerce ul.products li.product {
    background: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    width: 43%;
    float: left;
    margin: 10px;
}

// Cart
.as-content-area {
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  .cart.woocommerce-cart-form__contents {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px !important;
  .coupon {
    input.input-text {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    }
  }
  
}
.as-product-cart {
  padding-bottom: 20px;
  text-align: center;
}
}

//Checkout

.as-content-area.as-contact-content.as-checkout-left {
  margin-top: 30px !important;
  .col-md-12 {
    padding: 0px;
  }
}

.as-checkout-page {
  .as-coupon-row {
    input.input-text {
      width: 100%;
      height: 40px;
      margin-right: 0px !important;
      margin-bottom: 20px;

    }
  }
}


 // CTA

 .cta {
   .the-icon {
    margin-bottom: 20px !important;
   }

.as-community-link {
  text-align: center;
  }
  
 }

  //CTA Season

 .cta-seasons {

  .the-season-icon {
    margin-bottom: 20px !important;
   }
  .as-season-link {
    text-align: center;
  }
 }

 // Instagram Front-page

 .wdi_photo_wrap i.fab.fa-instagram {
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}

// Contact Page

.as-contact-address {
  .col-md-8,
  .col-md-4,
  .col-md-2 {
    padding: 0px;
  }
}

// Post Single Page Gallery width

.gallery-columns-3 .gallery-item {
  width: 100% !important;
  max-width: 100% !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

   //Menu
.main-navigation li {
  margin-bottom: 10px;
}

  ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

} 

  .row.outside {
  margin-left: 0 !important;
  margin-right: 0 !important;
  } 

  .card {
  width: 100% !important;
  } 

    span.page-numbers.dots, a.page-numbers, 
  .page-numbers.current {
  display: none;
  }

   .as-content-area, .as-forum-content {
    padding-right: 15px;
} 

// Custom Log
header {

  a {
  width: 100%;
  }

  .custom-logo-link img {
  max-width: $mobile-header-image;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

} 

.as-single-product-left {
    padding-right: 0px;
    padding-left: 0px;
    }

.stikey_sidebar.fixed_note,
.checkout_stikey_sidebar.fixed_note {
    position: initial !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 100%;
    margin-top: 0px;
    animation-duration: unset;
    animation-fill-mode: unset;
    z-index: 100;
} 


  // Home page shop

  .as-product-image {
    img {
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    }
  } 

 // Shop Archive

 .woocommerce ul.products li.product {
    background: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    width: 43%;
    float: left;
    margin: 10px;
} 

ul.products li.product .button {
  font-size: 0.7rem !important;
} 

// Cart
.as-content-area {
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  .cart.woocommerce-cart-form__contents {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px !important;
  .coupon {
    input.input-text {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    }
  }
  
}
.as-product-cart {
  padding-bottom: 20px;
  text-align: center;
}
}

//Checkout

.as-content-area.as-contact-content.as-checkout-left {
  margin-top: 30px !important;
  .col-md-12 {
    padding: 0px;
  }
}

.as-checkout-page {
  .as-coupon-row {
    input.input-text {
      width: 100%;
      height: 40px;
      margin-right: 0px !important;
      margin-bottom: 20px;

    }
  }
}

 // CTA

 .cta {
   .the-icon {
    margin-bottom: 20px !important;
   }

.as-community-link {
  text-align: center;
  }
  
 }

  //CTA Season

 .cta-seasons {

  .the-season-icon {
    margin-bottom: 20px !important;
   }
  .as-season-link {
    text-align: center;
  }
 }

  // Instagram Front-page

 .wdi_photo_wrap i.fab.fa-instagram {
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}

// Contact Page

.as-contact-address {
  .col-md-8,
  .col-md-4,
  .col-md-2 {
    padding: 0px;
  }
}

// Post Single Page Gallery width

.gallery-columns-3 .gallery-item {
  width: 100% !important;
  max-width: 100% !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.as-pagination .pagination {
    width: 100%;
    margin: 0 auto;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 


   //Menu
.main-navigation li {
  margin-bottom: 10px;
}
ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

} 

  .row.outside {
  margin-left: 0 !important;
  margin-right: 0 !important;
  }  

    span.page-numbers.dots, a.page-numbers, 
  .page-numbers.current {
  display: none;
  }

  .as-content-area, .as-forum-content {
    padding-right: 15px;
} 

// Custom Log
header {

  a {
  width: 100%;
  }

  .custom-logo-link img {
  max-width: $mobile-header-image;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

} 

.as-single-product-left {
    padding-right: 0px;
    padding-left: 0px;
    }

.stikey_sidebar.fixed_note,
.checkout_stikey_sidebar.fixed_note {
    position: initial !important;
    right: 0 !important;
    top: 0 !important;
    max-width: 100%;
    margin-top: 0px;
    animation-duration: unset;
    animation-fill-mode: unset;
    z-index: 100;
}   

 // Shop Archive

 .woocommerce ul.products li.product {
    background: #fff;
    padding-bottom: 20px;
    border-radius: 8px;
    text-align: center;
    width: 43%;
    float: left;
    margin: 10px;
} 

// Cart
.as-content-area {
  padding-left: 0px !important;
  padding-right: 0px !important;
  
  .cart.woocommerce-cart-form__contents {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-bottom: 30px !important;
  .coupon {
    input.input-text {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    }
  }
  
}
.as-product-cart {
  padding-bottom: 20px;
  text-align: center;
}
}

//Checkout

.as-content-area.as-contact-content.as-checkout-left {
  margin-top: 30px !important;
  .col-md-12 {
    padding: 0px;
  }
}

.as-checkout-page {
  .as-coupon-row {
    input.input-text {
      width: 100%;
      height: 40px;
      margin-right: 0px !important;
      margin-bottom: 20px;

    }
  }
}

 // CTA

 .cta {
   .the-icon {
    margin-bottom: 20px !important;
   }

.as-community-link {
  text-align: center;
  }

 }

  //CTA Season

 .cta-seasons {

  .the-season-icon {
    margin-bottom: 20px !important;
   }
  .as-season-link {
    text-align: center;
  }
 }

 // Instagram Front-page

 .wdi_photo_wrap i.fab.fa-instagram {
    bottom: 5px;
    right: 5px;
    font-size: 16px;
}

// Contact Page

.as-contact-address {
  .col-md-8,
  .col-md-4,
  .col-md-2 {
    padding: 0px;
  }
}

// Post Single Page Gallery width

.gallery-columns-3 .gallery-item {
  width: 100% !important;
  max-width: 100% !important;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.as-pagination .pagination {
    width: 100%;
    margin: 0 auto;
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

  .carousel-caption {
    right: 5% !important;
    bottom: 20px !important;
    left: 5% !important;
    h3 {
    font-size: .9rem !important;
    }
    p {
    font-size: 13px;
    }
}

.menu-toggle {
    display: block !important;
  }
  .main-navigation ul {
    display: block;
  }



// Mobile Nav

.main-navigation ul ul.open {
  position: relative !important;
  display: none;
}
.main-navigation.toggled ul {
  width: 100%;
  background: #fff;
}
nav#site-navigation {
    width: 289px;
    position: absolute;
    top: -80px;
    background: #fff;
    left: -579px;
    min-height: 628px;
    z-index: 100;
}
nav#site-navigation.toggled {
  left: -15px;
}

// Left Tp Right

 .toggled {
  -webkit-animation-name: toggled;
  animation-name: toggled;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes toggled {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

a.menu-toggle.as-opened {
    margin-top: 20px;
    margin-left: 28px;
    font-size: 17px;
}

// Right to left

 .slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInRight {
  0% {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 

.main-navigation ul {
  padding: 15px 0px;
  margin-left: 0px;
}

.main-navigation li {
  float: left !important;
  margin-left: 30px;
  width: 258px;
  ul.sub-menu {
    padding-bottom: 0;
   li {
        width: 238px;
        &:last-of-type {
          margin-bottom: 0;
        }
    }      
  }
}

ul.sub-menu {
  display: none !important;
}
ul.sub-menu.animate{
position: initial !important;
display: block !important;
transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
li {
  margin-left: 10px !important;
}

}
.main-navigation li {
  margin-bottom: 10px;
}

.mobile_story {
  padding-left: 28px;
  margin-top: 20px;
}

.mobile_icons {
  
  padding-left: 44px;
  a {
  display: inline !important;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  }

  }

nav#site-navigation.toggled {
    left: -61px;
}

}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

.stikey_sidebar.fixed_note, 
.checkout_stikey_sidebar.fixed_note {
    right: 2% !important;
}

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

.stikey_sidebar.fixed_note,
.checkout_stikey_sidebar.fixed_note {
    right: 7% !important;
}
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1600px) 
  and (max-device-width: 1850px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

.stikey_sidebar.fixed_note, 
.checkout_stikey_sidebar.fixed_note {
    right: 11% !important;
}

}
