.as-my-account {
	margin-top: 60px;

	ul {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;

	li {
	background: #ffff;
	padding-left: 10px;
	a {
	line-height: 30px;
	color: #444444;
	&:link {
    color: #444444;
	}
	&:hover {
	color: #444444;
	}
	&:active {
	color: #444444;
	}	
	&:visited {
	color: #444444;
	}
	}
	&:first-child {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	}
	&:last-child {
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	}
	}

	}

	label {
	width: 100%;
	}

input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea {
	width: 100%;
	height: 40px;
	background-color: #f7f8fa;
}

span.woocommerce-input-wrapper {
	width: 100%
}


.select2-container--default .select2-selection--single {
    background-color: #f7f8fa !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 42px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 8px;
    right: 1px;
    width: 20px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #444;
    line-height: 36px;
}


}

.woocommerce-MyAccount-content {
	background: #fff;
	padding: 20px 40px;
	border-radius: 8px;
	fieldset {
	padding: 0px !important;
}
}

.as-account-nav {
	border-radius: 8px;
}

// Login

.as-account-login {
	
margin-top: 60px;

.as-login-form {
	label {
	width: 100%;
	}
	input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea {
	width: 100%;
	height: 40px;
	background-color: #f7f8fa;
}
}

.as-login,
.as-register {
	background: #fff;
	border-radius: 8px;
	padding: 40px;
}

.as-register {
		label {
	width: 100%;
	}
input[type="text"], 
input[type="email"], 
input[type="url"], 
input[type="password"], 
input[type="search"], 
input[type="number"], 
input[type="tel"], 
input[type="range"], 
input[type="date"], 
input[type="month"], 
input[type="week"], 
input[type="time"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="color"], 
textarea {
	width: 100%;
	height: 40px;
	background-color: #f7f8fa;
}
}

}



// Lost Password
.as-myaccount-lost-container {
	margin-top: 60px;

	.as-myaccount-lost {
	padding: 40px;
	background: #fff;
	border-radius: 8px;
	label {
	width: 100%;
	}
	input[type="text"], 
	input[type="email"], 
	input[type="url"], 
	input[type="password"], 
	input[type="search"], 
	input[type="number"], 
	input[type="tel"], 
	input[type="range"], 
	input[type="date"], 
	input[type="month"], 
	input[type="week"], 
	input[type="time"], 
	input[type="datetime"], 
	input[type="datetime-local"], 
	input[type="color"], 
	textarea {
	width: 100%;
	height: 40px;
	background-color: #f7f8fa;
}
}
}

.woocommerce-account {
	.woocommerce-info{
	width: 100%;
    padding: 20px;
    border-radius: 8px;
    background-color: #65893a !important;
    color: #fff;
    a {
    color: #fff;
    &:link {
    color: #fff;
    }
    &:active {
    color: #fff;
    }
    &:hover {
    color: #fafafa;
    }
    &:visited {
    color: #fff;
    }
    }
}
}


