.main-navigation  {
	color: $default-text;
	a {
	   margin-right: 26px;
    }
	&:visited {
	 color: $default-text;
	}
	&:hover {
	 color: $default-text;
	}
    li.menu-item-has-children a {
        margin-right: 50px;

    }
    li:last-of-type a {
        margin-right: 0;
    } 	
}


a.custom-logo-link {
	width: 100%;
	text-align: center;
}

.menu-menu-1-container {
	width: 100%;
}

a.as-dropdown-toggle.cart-item .fas.fa-shopping-cart {
	color: $button-avo;
}
.as-dropdown-cart {
	border: 1px solid rgb(102, 137, 60);
    padding: 30px 0px;
    text-align: center;
    background: #fff;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.modal-content {
    background-color: #f7f8fa;
    
    input[type="text"], 
    input[type="email"], 
    input[type="url"], 
    input[type="password"], 
    input[type="search"], 
    input[type="number"], 
    input[type="tel"], 
    input[type="range"], 
    input[type="date"], 
    input[type="month"], 
    input[type="week"], 
    input[type="time"], 
    input[type="datetime"], 
    input[type="datetime-local"], 
    input[type="color"], 
    textarea {
	height: 40px;
	background-color: #f7f8fa;
}
}

.charles_stor a {
    font-family: brandon-grotesque, sans-serif;
    font-size: 20px !important;
    font-weight: 400 !important;
    color: #66883f;
    &:link {
    color: #66883f;
    }
    &:hover {
    color: #66883f;
    }        
    &:visited {
    color: #66883f;
    }
}

.header_right_button {
    a {
    color: #fff;
    margin-top: -5px;
    &:link {
       color: #fff; 
    }
    &:hover {
        color: #fff;
    }
    &:visited {
        color: #fff;
    }
}

    }

ul#primary-menu li ul li a {
    line-height: 30px;
    text-transform: capitalize !important;
}

.main-navigation ul ul {
    padding: 10px;
    box-shadow: none !important;
    background: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    li {
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    &:last-child {
        border-bottom: none;
    }
    }
}

.menu-buttons-icons {
   width: 288px;
    height: 130px;
    background: #fff;
    margin-top: -1px; 
    margin-left: 0;
}
 .header_right_mobile {
   margin-bottom: 20px;
    width: 134px !important;
    margin-left: 30px; 
    padding-left: 0;
    padding-right: 0; 
    flex: none;
 } 

 .mobile_story a {
 color: #65893a;
 &:link {
  color: #65893a;
 }
  &:visited {
  color: #65893a;
 }
  &:hover {
  color: #65893a;
 }
  &:active {
  color: #65893a;
 }
 }

 .col-md-12.mobile_icons.header_left.header-icons {
 width: 100%;
 height: 130px;
 padding-top: 20px;
 border-top: 1px solid #dfdfdf !important;
    background: #fff;
 }


