.owl-carousel .owl-item img {
	margin-left:auto;
	margin-right: auto;
	display: block;
}

.carousel_title {
	margin-bottom: 20px;
}

.owl_carousel {
	margin-top: 100px;
	margin-bottom: 40px;
}

.owl-carousel .owl-item div {
	min-height: 80px !important;
}

.owl-carousel .owl-nav button.owl-next {
	position: absolute;
    right: -20px;
    top: 0;
    font-size: 34px;
}

.owl-carousel .owl-nav button.owl-prev {
	position: absolute;
    left: -20px;
    top: 0;
    font-size: 34px;
}

button{
    outline: none !important;
 }

 .owl-carousel .owl-nav.disabled {
 display: block;
 }

 .as-video {
 margin-top: 60px;
 padding: 0px;
 }

.as-video .col-md-12 {
	padding: 0px;
}