
.seasoned-posts {
	
	.post-list-excerpt {
	padding-top: 15px;
    padding-bottom: 15px;
    h2 {
        font-size: 22px !important;
    }
    
	color: #222222;
	&:link {
		color: #222222;
	}
	&:hover {
		color: #222222;
	}
	&:visited {
		color: #222222;
	}
	}
	
	a h2, a p {
	color: #222222;
	font-weight: 400;
	&:hover {
	color: #4f4f4f;
	}
}

a:hover {
	text-decoration: none;
}

}

.as-category-slider {
	padding-top: 30px;
    padding-left: 0px;
    padding-right: 0px;

	.owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    left: -28px;
    top: 32.5%;
    font-size: 34px;
    color: #fff;
    background-color: #d2c7be;
    padding: 0px 18px !important;
}

.owl-carousel .owl-nav button.owl-next {
    position: absolute;
    right: -28px;
    top: 32.5%;
    font-size: 34px;
    color: #fff;
    background-color: #d2c7be;
    padding: 0px 18px !important;
}

}

.gray-shadow {
	border-radius: 8px;
	img {
		border-radius: 8px;
	}
	.cat_name {
	position: fixed;
    left: 10px;
    right: 10px;
    color: #fff;
    bottom: -40px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
	}
}


.as-post-section {
	margin-bottom: 40px;
}

.as-pagination {
	margin-bottom: 100px;
	.pagination {
		width: 50%;
		margin: 0 auto;
	}
}



.next.page-numbers,
.prev.page-numbers {
	background-color: #66883f;
    border-color: #66883f;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    color: #fff !important;
}


a.page-numbers {
	padding: 10px 14px;
    color: #fff;
    background: #66883f;
    margin: 0 5px;
    border-radius: 4px;
	&:link {
		color: #fff;
	}
	&:visited {
		color: #fff;
	}
}

.page-numbers.current {
    padding: 10px 14px;
    margin: 0 5px;
    border-radius: 4px;
    color: #66883f;
    background: #fff;
    border:1px solid #66883f;
}


.as-archive-default {
	margin-top: 40px;
	margin-bottom: 100px;
}

.as-post-thumbnail {
	padding: 0px;
    img {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        width: 100%;
    }
}

.single-post {

.post-navigation .nav-previous {
    float: left;
    a {
    background-color: #66883f;
    border-color: #66883f;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    color: #fff;
    }
    }


.post-navigation .nav-next {
    float: right;
    text-align: right;
     a {
    background-color: #66883f;
    border-color: #66883f;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    color: #fff;
    }
}

    
}

// List Items For Posts

.single-post .content-area {

ul {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 46px;
}

ul li {
    line-height: 30px;
    position: relative;
    margin-bottom: 20px;
}

ul li:before {
    content: '';
    background-image: url('http://nodig.nearlylive.co.uk/wp-content/themes/no-dig/assets/leaf.png') !important;
    display: inline-block !important;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 22px;
    margin: 0;
    padding: 18px 24px;
    position: absolute;
    left: -45px;
}

}




//Related Posts


.as-related-posts {

a {
	&:link {
	color: #404040;
	text-decoration: none;
	}
	&:hover {
	color: $hover;
	text-decoration: none;
	}
	&:visited {
	color: #404040;
	text-decoration: none;
	}
    &:before {
        background-image: url(../assets/leaf.svg);
        background-size: 15px 30px;
        display: inline-block;
        width: 15px;
        height: 30px;
        content: "";
        position: absolute;
        left: 15px;
    }  
}

a h5 {
    font-size: 18px;
    line-height: 30px;
    border-bottom: 1px solid #cccccc !important;
    padding-bottom: 10px;
    padding-left: 30px;
    font-weight: 300;
}

a:last-child h5 {
 border-bottom: none !important;
}

} 

.comment-author.vcard {
    img.avatar {
    display: none !important;
    }
}
    img.avatar {
    display: none !important;
    }
