.col-md-4.stikey_sidebar.as-single-sidebar {
    background: #fff;
    border-radius: 10px;
    margin-top: 40px;
    padding: 40px 15px;
    max-height: 600px;

    .btn-primary {
    padding-left: 50px;
    padding-right: 50px;
    }

    }

.as-event-address {
    margin-top: 60px;
	background-color: #45525c;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff; 
	border-radius: 8px;
    margin-bottom: 60px;
}

h5.more_details {
    font-size: 22px !important;
    }


.acf-map {
    width: 100%;
    height: 250px;
    margin: 20px 0;
    border-radius: 8px;
}

.acf-map img {
   max-width: inherit !important;
}

   