.as-single-product-right {
	
	table.variations {
	 margin: 0px !important;
	}

	.woocommerce-product-gallery__trigger {
	display: none !important;
	}

	select{
	    width: 100%;
        height: 40px;
	}

	a.reset_variations {
	color: #a20000;
	}

	span.woocommerce-Price-amount.amount {
	padding: 0px 20px;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
	}

}

.as-single-product-right {
	


.as-single-sider-review {
	margin-top: 30px !important;

	.row {
	margin: 0px !important;
	div#accordion {
	width: 100% !important;
	}
	}

	.card-header {
	background-color: transparent !important;
	border: 1px solid #66883f;
	border-style: dashed;
	border-width: 2px;
	}

}

.as-review-body {
    li#tab-title-description,
    li#tab-title-additional_information,
    h2.woocommerce-Reviews-title {
	display: none !important;
	}
}

.as-review-button {
	color: #222222 !important;
	span.fake_link {
    color: #66883f !important;
	}
}

.comment_container {
	img {
	max-width: 15% !important;
	float: left;
	margin-right: 10px;
	}
}

	section.related.products {
	display: none !important;
	}

	div#tab-description {
	display: none !important;
	}

ol.commentlist {
	margin-left: 0px !important;
	padding-left: 0px;

	.comment_container {
	padding: 10px 0px;
	border-bottom: 1px solid #ccc;
	}
}

.card {
	width: 100% !important;
}

input[type="submit"] {
	background: #66883f;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    width: 100%;
}

div#tab-additional_information {
	display: none !important;
}

}
.as-single-shop-image {
	padding-left: 15px;
	padding-right: 15px;
	.single-shop-gallery {
	height: 165px;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 8px;
}
}

.woocommerce-noreviews {
	background-color: #45525c;
    color: #fff;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

