/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

.carousel-caption {
    right: 10% !important;
    left: 9% !important;
}  

.header-icons {
    padding-top: 40px !important;
    font-size: 20px;
} 

ul.products li.product {
    width: 30.7966666667%;
    float: left;
    margin-right: 1.8%;
    min-height: 590px;
}

.archive #testimonialFrontPage {
  height: auto;
}

.as-shop-header .as-front-testimonial {
  height: auto;
}

.col-md-4.stikey_sidebar.as-contact-page .wpcf7 input {
  width: 100%;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {

.main-navigation ul li,
.charles_stor a {
  font-size: 16px !important
}

.header_right_button {
  .btn-info {
  padding: 5px 10px;
}
}

.charles_stor.header_left {
  padding-left: 0px;
}

.header-icons.pull-right,
.header_left.header-icons {
  padding-left: 0px;
  padding-right: 0px;
}

.chalers_intro {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;

    img {
      width: 100% !important;
    }
  }
}

.as-course-product {
	padding-right: 0px;
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.as-front-testimonial {
      flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.blog-bg {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
    
  }
  .blog-sing-row {
  padding-left: 15px;
}
}

    .as-product-image img {
      width: 100% !important;
    }

 .home_products {
  .products-single {
        flex: 50% !important;
    max-width: 50% !important;
    margin-bottom: 20px;
  }
 }  

 .wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left li {
    padding-right: 10px;
}

.as-archive-default {
  .card{
    width: 21rem;
  }
}

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

#sticky-sidebar.stop {
    top: unset !important;
    bottom: 109px !important;
} 

.stikey_sidebar.fixed_note {
  right: 1% !important;
  max-width: 350px !important;
}  

.col-md-4.stikey_sidebar.as-contact-page .wpcf7 input {
  width: 100%;
} 

.as-archive-default {
  .card{
    width: 19rem;
  }
}

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

.carousel-caption {
    right: 10% !important;
    left: 9% !important;
}

.header-icons {
    padding-top: 40px !important;
    font-size: 20px;
}

ul.products li.product {
    width: 30.7966666667%;
    float: left;
    margin-right: 1.8%;
    min-height: 590px;
}

.archive #testimonialFrontPage {
  height: auto;
}

.as-shop-header .as-front-testimonial {
  height: auto;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

.main-navigation ul li,
.charles_stor a {
  font-size: 16px !important
}
.header_right_button {
  .btn-info {
  padding: 5px 10px;
}
}

.charles_stor.header_left {
  padding-left: 0px;
}

.header-icons.pull-right,
.header_left.header-icons {
  padding-left: 0px;
  padding-right: 0px;
}

.chalers_intro {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;

    img {
      width: 100% !important;
    }
  }
}


.as-course-product {
	padding-right: 0px;
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.as-front-testimonial {
      flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.blog-bg {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
    
  }
    .as-product-image img {
      width: 100% !important;
    }
  .blog-sing-row {
  padding-left: 15px;
}
}

    .as-product-image img {
      width: 100% !important;
    }


  .home_products {
  .products-single {
        flex: 50% !important;
    max-width: 50% !important;
    margin-bottom: 20px;
  }
 }

 .as-archive-default {
  .card{
    width: 21rem;
  }
}     

}

/* Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

#sticky-sidebar.stop {
    top: unset !important;
    bottom: 109px !important;
} 

.stikey_sidebar.fixed_note {
  right: 1% !important;
  max-width: 350px !important;
} 

.col-md-4.stikey_sidebar.as-contact-page .wpcf7 input {
  width: 100%;
} 

.as-archive-default {
  .card{
    width: 19rem;
  }
} 

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

.carousel-caption {
    right: 10% !important;
    left: 9% !important;
}

.header-icons {
    padding-top: 40px !important;
    font-size: 20px;
}

ul.products li.product {
    width: 30.7966666667%;
    float: left;
    margin-right: 1.8%;
    min-height: 590px;
}

.archive #testimonialFrontPage {
  height: auto;
}

.as-shop-header .as-front-testimonial {
  height: auto;
}

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

.main-navigation ul li,
.charles_stor a {
  font-size: 16px !important
}
.header_right_button {
  .btn-info {
  padding: 5px 10px;
}
}

.charles_stor.header_left {
  padding-left: 0px;
}

.header-icons.pull-right,
.header_left.header-icons {
  padding-left: 0px;
  padding-right: 0px;
}

.chalers_intro {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;

    img {
      width: 100% !important;
    }
  }
}


.as-course-product {
	padding-right: 0px;
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.as-front-testimonial {
      flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.blog-bg {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
    
  }
    .as-product-image img {
      width: 100% !important;
    }
  .blog-sing-row {
  padding-left: 15px;
}
}
    .as-product-image img {
      width: 100% !important;
    }

 .home_products {
  .products-single {
        flex: 50% !important;
    max-width: 50% !important;
    margin-bottom: 20px;
  }
 }  


.wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left li {
    padding-right: 10px;
}

.as-archive-default {
  .card{
    width: 21rem;
  }
}

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1112px) 
  and (max-device-width: 1112px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

#sticky-sidebar.stop {
    top: unset !important;
    bottom: 109px !important;
}

.stikey_sidebar.fixed_note {
  right: 1% !important;
  max-width: 350px !important;
}

.col-md-4.stikey_sidebar.as-contact-page .wpcf7 input {
  width: 100%;
}

.as-archive-default {
  .card{
    width: 19rem;
  }
}

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

.carousel-caption {
    right: 10% !important;
    left: 9% !important;
}

.header-icons {
    padding-top: 40px !important;
    font-size: 20px;
}

ul.products li.product {
    width: 30.7966666667%;
    float: left;
    margin-right: 1.8%;
    min-height: 590px;
}

.archive #testimonialFrontPage {
  height: auto;
}

.as-shop-header .as-front-testimonial {
  height: auto;
}

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

.main-navigation ul li,
.charles_stor a {
  font-size: 16px !important
}
.header_right_button {
  .btn-info {
  padding: 5px 10px;
}
}

.charles_stor.header_left {
  padding-left: 0px;
}

.header-icons.pull-right,
.header_left.header-icons {
  padding-left: 0px;
  padding-right: 0px;
}
.chalers_intro {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;

    img {
      width: 100% !important;
    }
  }
}


.as-course-product {
  padding-right: 0px;
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.as-front-testimonial {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
}

.blog-bg {
  .col-md-6 {
    flex: 100% !important;
    max-width: 100% !important;
    margin-bottom: 20px;
  }

.as-product-image img {
      width: 100% !important;
    }

  .blog-sing-row {
  padding-left: 15px;
}
}
    .as-product-image img {
      width: 100% !important;
    }

 .home_products {
  .products-single {
        flex: 50% !important;
    max-width: 50% !important;
    margin-bottom: 20px;
  }
 } 


 .wc-shortcodes-social-icons-wrapper .wc-shortcodes-social-icons.wc-shortcodes-columns-float-left li {
    padding-right: 10px;
} 

.as-archive-default {
  .card{
    width: 19rem;
  }
}



}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen 
  and (min-device-width: 1366px) 
  and (max-device-width: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #sticky-sidebar.stop {
    top: unset !important;
    bottom: 109px !important;
}
.stikey_sidebar.fixed_note {
  right: 1% !important;
  max-width: 350px !important;
}

.col-md-4.stikey_sidebar.as-contact-page .wpcf7 input {
  width: 100%;
}


}
