.as-shop-header {
	background-color: #45525c;
	padding: 40px 0;
}

h1.woocommerce-products-header__title.page-title {
    text-align: center;
    text-transform: capitalize;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.9rem;
}

ul.products {
	width: 100%;
}

.woocommerce-pagination {
    text-align: center;
    ul {
        display: inline-flex;
        list-style: none;
        margin-left: 0px;
        li {
            margin-top: 10px;

            .next.page-numbers, 
            .prev.page-numbers {
                display: inline !important
            }
        }
    }
}

 .woocommerce ul.products li.product { 
	background: #fff;
	padding-bottom: 20px;
	border-radius: 8px;
	text-align: center;
 }

@media screen and (min-width:1024px) {
    .woocommerce ul.products li.product { 
	width: 21% !important;
	margin: 2% !important;
	clear: none !important;
    min-height: 565px;
    }
    .woocommerce ul.products li.product:nth-child(4n+1) {
	clear: both !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 980px) {
    .woocommerce ul.products li.product.first, .woocommerce ul.products li.product.last {
        clear: right !important;
    }
    .woocommerce ul.products li.product:nth-child(4n+1) {
         clear: none !important;
    }
}

ul.products li.product .button {
	background: $button-avo;
	color: #fff;
	display: inline-block;
    font-weight: 300 !important;
	font-family: 'Lato', sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
}

ul.products li.product .button {
    display: inline !important;
    width: 70%;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	display: block;
	padding-bottom: 20px;
}

ul.products li.product .woocommerce-loop-product__title {
    font-size: 22px !important;
}

a.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
        color: #222222 !important;
    &:hover {
    text-decoration: none;
    }
}

.as-as-seen-shop {
    background: #fff;
    border-radius: 8px;
    padding: 45px 0px;
    .carousel_title {
    margin-bottom: 30px;
    }
}

.as-shop-header .as-front-testimonial {
    padding: 22px;
    height: 420px;
    overflow: hidden;
}

.cat_name {
    position: absolute;
    bottom: 20px;
    font-size: 16px;
    left: 50%;
    color: #fff;
    font-weight: 400;
}

.cat_title {
    position: relative;
    left: -50%;
}

// Cart

a.checkout-button.button.alt.wc-forward,
button.single_add_to_cart_button.button.alt {
    background: $button-avo;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    width: 100%;
    &:hover {
    cursor: pointer;
    }
    
}

    button.button {
    background: $button-avo;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    }

button[name="update_cart"] {
    display: none !important;
}

.woocommerce .entry-header {
    display: none !important;
}

.as-cart-product {
    background: #fff;
}
.product-remove {
    position: absolute;
    text-align: right;
    right: 10px;
}


.col-md-12.woocommerce-cart-form__cart-item.cart_item {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 40px;
    padding: 0;
    img {
    border-radius: 8px;
    }
}

.as-cart-empty {
    margin-top: 60px;
    .cart-empty {
    width: 100%;
    background: #45525c !important;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
    font-size: 22px;
    text-align: center;
    }
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none !important; 
  margin: 0 !important; 
}  
input[type="number"] {
    width: 32px !important;
    padding-left: 10px !important;
}

.wac-qty-button {
    background-color: transparent !important;
    a {
    font-size: 30px !important;
    color: #66883f !important;
    }
}

.as-product-cart {
    margin-top: 20px;

    .product-name a {
        font-size: 22px;
        line-heigh: 29px;
    }
}

// Upsells

.cross-sells {
    margin-top: 30px;
    h2:first-child {
        margin-left: 20px;
    }
 ul.products li.product {
    width: 33% !important;
}   
}



.woocommerce-notices-wrapper {
    
    .woocommerce-message {
    width: 100% !important;
    margin-bottom: 20px;
    padding: 31px !important;
    color: #fff !important;
    border-radius: 8px !important;
    background-color: #45525c !important;
    a {
    color: #fff;
    }
    &:link {
    color: #fff;
    }
    &:visited {
    color: #fff;
    }
    &:hover {
    color: #efefef;
    }
}
}

// Single Product


.as-single-title {
    padding: 0px;
}
.as-single-message {
    margin-top: 40px;
}

.as-single-product {
    margin-top: 40px;
    margin-bottom: 40px;
}
.single-product div.product {
    width: 100%;
    .as-single-product-right {
        max-height: min-content;
        background: #fff;
        text-align: center;
        border-radius: 8px;
        padding-bottom: 40px;
        padding-left: 0px;
        padding-right: 0px;
        figure {
        margin: 0px;
        }
        h1.product_title.entry-title {
        display: none;
        }
        img {
        width: 100%;
        height: initial;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        }
        .woocommerce-product-details__short-description {
         display: none !important;
        }
        .quantity {
        display: none;
        }
        input[type="number"] {
         width: 100% !important;
        text-align: center;
        margin-bottom: 30px;
        }
        .product_meta {
          display: none !important;
        }
        .summary.entry-summary {
        padding-left: 40px;
        padding-right: 40px;
        }

    }
}

.as-single-product-left {
    padding-right: 40px;
    margin-bottom: 40px;
     p.small {
      font-size: 22px;
     }
}
.as-flexible-content {
    padding: 0px;
    margin-top: 40px;
    li {

    }
    a {
        color: #66883f!important;
        font-weight: 400;
    }
}
.as-shop-testimonial{
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.as-flexible-video {
    margin-top: 40px;
    padding: 0px;
}
.as-flexible-imge {
    margin-top: 40px;
    padding: 0px;
}
.as-shop-gallery-section {
    margin-top: 40px;
    padding: 0px;
    .as-single-gallery-image {
    padding: 0px;
    }
    i.fas.fa-search {
    position: absolute;
    bottom: 9px;
    right: 25px;
    color: #fff;
    }
}

.as-course_details {
    margin-top: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #45525c;
    border-radius: 8px;
    color: #fff;
    font-weight: 300;
}
.as-more-info {
    padding: 0px;
}

ul.products li.product .button {
    color: #fff !important;
}


// Mobile Archive Carousel Header

.as-mobile-shop-carousel {
    margin-bottom: 30px;
    padding: 30px 0px;
    background-color: #45525c;

    .owl-carousel .owl-nav button.owl-prev {
         position: absolute;
        left: 8px;
        top: 58px;
        font-size: 34px;
        padding: 0 20px !important;
        background-color: #d2c7be;
    }
    .owl-carousel .owl-nav button.owl-next {
        position: absolute;
        right: 8px;
        top: 58px;
        font-size: 34px;
        padding: 0 20px !important;
        background-color: #d2c7be;
    }

    .owl-carousel .owl-item img {
      width: 70% !important;
     }

    .owl-carousel .owl-item div {
    min-height: 0px !important;
    }

    a img {
        border-radius: 8px;
    }
}

// Errors

ul.woocommerce-error {
    list-style: none;
    color: #fff;
    padding: 30px;
    margin-top: 20px;
    z-index: 9999;
    position: fixed;
    top: 0px;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}

// Billing Details

.as-billing-details {
    padding: 0px;
    .as-shipping-right {
        padding-left: 0px;
    }
}


// Added to cart button

a.added_to_cart.wc-forward {
    background: #500049;
    color: #fff;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-transform: uppercase;
    &:hover {
    cursor: pointer;
    }
}

.product {
    .star-rating {
        display: none !important;
    }   
}

.woocommerce-orders-table__cell {
    a {
    margin-right: 5px;
    font-size: 16px;
    }
}

ul.products li.product img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
