@import 'bootstrap';
@import 'bootstrap-grid';
@import 'bootstrap-reboot';
@import 'themescss/veriable';
@import 'themescss/navigation';
@import 'themescss/frontpage';
@import 'themescss/content_page';
@import 'themescss/owl_custom';
@import 'themescss/bootstrap_custom';

@import 'themescss/fonts';
@import 'themescss/instgram';
@import 'themescss/posts';
@import 'themescss/forums';
@import 'themescss/events';
@import 'themescss/single_event';
@import 'themescss/contact_us';
@import 'themescss/learn';
@import 'themescss/footer';
@import 'themescss/woocommerce';
@import 'themescss/single_product';
@import 'themescss/gallery';
@import 'themescss/checkout';
@import 'themescss/myaccount';
@import 'themescss/media_queries';
@import 'themescss/tablets';

body {
	background-color: #f7f8fa !important;
    border-top: 5px solid rgba(69, 82, 92, 0.1);
} 

a {
    outline: none !important;
}

.search {
    a {
    color: #222222;
    &:visited {
    color: #222222;
    }
    }
}

.page-content, .entry-content, .entry-summary {
    margin: 0 !important;
}

//Header
.header-icons {
    padding-top: 50px;
    font-size: 20px;
    &.pull-right {
        color: white;
        a i {
            margin-left: 7px;
        }
    }
    a {
        i {
            color: #333333;
            font-size: 18px;
            opacity: 0.6;
        }
    }
    .basket-items-count {
        padding-left: 2px;
        font-size: 18px;
    }
}

.site-header{
    padding-top: 20px;
}

button.menu-toggle {
    padding-top: 5px;
    width: 34px;
    float: left;
    border: none;
    background: transparent;
    margin-right: 5px;
    margin-top: -6px;
}
.header_bottom {
    margin-top: 45px!important;
    margin-bottom: 45px!important;
}

.header_bottom_mobile {
    margin: 30px 0px !important;
}

.header_image img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.back-to-shop-link {
    position: absolute;
    top: -40px;
}
.tax-product_cat .back-to-shop-link {
    display: block!important;
}

ul:nth-child(1) > li.menu-item-has-children:before{
    font-family: FontAwesome;
    content: "\f107";
    margin-right: 30px;
    float: right;
    pointer: cursor;
}

div#carouselExampleIndicators {
    width: 100%;
}

.carousel-item.header_slider img {
    width: 100% !important;
}

.testimonial_image img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.cta {
    border-radius: 8px;
    background-color: #45525c;
    padding: 30px 15px;
    color: #fff;
    margin-bottom: 60px;
    margin-top: 60px;
}

.the-icon {
    font-size: 50px;
    text-align: center;
}

.the-icon i.fas.fa-users {
    background-color: #344049;
    color: #fff;
    border-radius: 100%;
    padding: 40px 35px;
}

.cta-seasons {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #45525c;
    padding: 30px 15px;
    color: #fff;
    margin-bottom: 100px;
}

.the-season-icon {
    font-size: 30px;
    text-align: center;
}

.the-season-icon i.far.fa-calendar-check{
    background-color: #344049;
    color: #fff;
    border-radius: 100%;
    padding: 35px 35px;
}

a {
    &:link {
    color: #404040;
    text-decoration: none;
    }
    &:hover {
    color: $hover;
    text-decoration: none;
    }
    &:visited {
    color: #404040;
    text-decoration: none;
    }   
}

span.edit-link {
    display: none;
}

footer.entry-footer {
    margin-top: 60px;
}

#sticky-sidebar.stop {
    top: unset!important;
    bottom: 260px!important;
}


//Search Results

.entry-meta {
    margin-bottom: 20px;
    color: #66893c;
    a {
      color: #66893c;  
    }

    &:link {
      color: #66893c;    
    }
    &:active {
      color: #66893c;    
    }
    &:hover {
      color: #66893c;    
    }

}

