.as-leader-header{background-color:#45525c;margin-bottom:60px}.as-post-featured{background:#fff;margin-bottom:20px;border-radius:8px}.as-post-featured .featured-thumb{padding-left:0px;padding-right:7px}.as-post-featured .featured-thumb img{width:100%}.card{width:24rem;border-radius:8px;border:none}.as-card img{width:100%}.as-featured-text{padding-top:30px}
